@media only screen and (max-width:1390px){
    .best-value-pricing-block p{
        top: -17%;
        right: -13%;
    }
}
@media only screen and (max-width:1350px){
    button.facts-button_prev.slick-arrow {
        left: -1%;
        top: 50%;
    }
    button.facts-button_next.slick-arrow {
        right: -1%;
        top: 50%;
    }
    .best-value-pricing-block p {
        top: -18%;
        right: -11%;
    }
}
@media only screen and (max-width:1190px){
    .second-nav2 ul li a {
        font-size: 14px;
    }
    .second-nav2 ul li {
        padding: 0 12px;
    }
    span.para-span1, span.para-span2 {
        font-size: 10px;
    }
    .nav2 ul li a {
        font-size: 14px;
    }
    .nav2 .logo {
        width: 56px;
    }
    .nav2 .logo2 {
        width: 100px;
    }
    .offer-main-bg p {
        font-size: 13px;
    }
    .second-nav1 img {
        width: 135px;
        display: block;
    }
    .banner-block-items-content h2 {
        font-size: 56px;
        line-height: 1.1;
        font-weight: 600;
    }
    .banner-block-items-content h3 {
        font-size: 17px;
        font-weight: 800;
    }
    .banner-box {
        margin: 22px 0;
    }
    .banner-block-items-content p {
        font-size: 14px;
        padding-right: 5%;
    }
    .banner-block-items-content > img {
        margin: 20px 0 14px;
    }
    .best-value-pricing-block p {
        font-size: 22px;
        width: 80px;
        height: 80px;
        top: -14%;
        right: -11%;
    }
    .pricing-bottom-block-items-content{
        margin: 10px;
    }
    .pricing-bottom-block-items-content h3 {
        font-size: 48px;
        font-weight: 600;
    }
    .pricing-bottom-block-items-content h4 {
        color: #fff;
        background-color: #000;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        width: 100%;
        padding: 6px 0;
        margin: 8px 0;
    }
    .pricing-mid-block p,.past-boxes-mid-block p,.babebox-mid-block p,.gallery-mid-block p,.review-mid-block p{
        font-size: 21px;
    }
    .dual-section-items p {
        font-size: 14px;
    }
    .trending-lower-block-title h3 {
        font-weight: 500;
        font-size: 15px;
    }
    .trending-lower-block-image-with-price {
        line-height: 1.8;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .trending-lower-block-image-with-price p {
        font-size: 14px;
    }
    .trending-lower-block-items-content a {
        font-size: 14px;
    }
    .review-slideshow-items-content h3{
        font-size: 23px;
    }
    .review-slideshow-items-content p{
        font-size: 14px;
    }
    .location-para-block p{
        font-size: 16px;
    }
    .faq-block-items-content ul li{
        font-size: 18px;
    }
    .faq-onclick-block-items p {
        font-size: 14px;
    }
    .footer-inner-small-items ul li a {
        font-size: 12px;
    }
    .footer-bottom-block ul li a {
        font-size: 12px;
    }
    .input-section input{
        font-size: 12px;
    }
    .input-section input::placeholder{
        font-size: 12px;
    }
    .input-section:after{
        width: 16px;
        height: 16px;
    }
    .footer-input-main-block p {
        color: #fff;
        font-size: 12px;
        font-weight: 500;
    }
    .social-icon-block ul li a img {
        width: 22px;
    }
    .payment-icon-block ul li img {
        width: 40px;
        display: block;
    }
}
@media only screen and (max-width:1024px){
    .nav2 ul li {
        padding: 0 8px;
    }
    .nav1 p {
        color: #fff;
        font-size: 12px;
    }
    .nav2 .logo {
        width: 50px;
    }
    .nav2 .logo2 {
        width: 88px;
    }
    .nav2 ul li a {
        font-size: 12px;
    }
    .nav2 ul li a img {
        width: 12px;
    }
    .second-nav1 img {
        width: 125px;
        display: block;
    }
    .rating-box img {
        margin-right: 10px;
    }
    span.para-span1, span.para-span2 {
        margin: 0px 2px;
    }
    .components-header h2,.babebox-inside-header h2,.pricing-header h2,.trending-upper-header h2,.gallery-header h2,.review-header h2,.location-main-block h2,.faq-header h2 {
        font-size: 30px;
    }
    .brand-main-block ul li {
        margin: 0 14px;
    }
    .pricing-mid-block p, .past-boxes-mid-block p, .babebox-mid-block p, .gallery-mid-block p, .review-mid-block p {
        font-size: 18px;
    }
    .babebox-inside-bottom-box ul li img {
        width: 80px;
    }
    .side-content p {
        font-size: 18px;
        font-weight: 600;
    }
    .side-content p span {
        font-size: 13px;
    }
    .past-boxes-main-block {
        padding: 150px 0 40px;
    }
    .bg-big-image {
        position: absolute;
        top: -8%;
        right: 0;
        width: 100%;
    }
    .past-boxes-bottom-block-items-content h3 {
        font-weight: 500;
        font-size: 20px;
    }
    .past-boxes-bottom-block-items-content p {
        font-size: 12px;
    }
    .past-boxes-bottom-block-items-content p span img {
        width: 60px;
    }
    .trending-upper-block-items-content img {
        width: 38px;
    }
    .dual-section-items p {
        font-size: 13px;
    }
    .review-mid-block {
        padding: 25px 0 15px;
    }
    .review-bottom-block-items a {
        text-decoration: none;
        color: #000;
        border: 2px solid #000;
        font-size: 14px;
    }
    .review-bottom-block-items ul li img {
        width: 40px;
        display: block;
    }
    .location-para-block p {
        font-size: 14px;
    }
    .footer-block-items-content img {
        width: 160px;
        display: block;
    }
    .footer-bottom-block ul li {
        margin: 0 10px;
    }
    .faq-block-items-content ul li {
        font-size: 16px;
    }
    .faq-onclick-block-items p {
        font-size: 13px;
    }
}
@media only screen and (max-width:980px){
    .nav1 {
        display: none;
    }
    .nav2 {
        display: none;
    }
    .nav3{
        display: flex;
    }
    .second-nav2 {
        display: none;
    }
    .second-nav1 img {
        width: 180px;
        display: block;
    }
    .second-navbar-block{
        justify-content: center;
    }
    .banner-main-bg {
        background-color: #F3F6F6;
        padding: 5px 0 38px;
    }
    .banner-main-block {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: center;
    }
    .banner-block-items-content > img {
        margin: 36px 0 24px;
    }
    .banner-block-items-content h3 {
        font-size: 22px;
        font-weight: 600;
    }
    .banner-block-items-content p {
        font-size: 16px;
        padding-right: 0;
    }
    .banner-button-block a{
        font-size: 20px;
    }
    .banner-block-items {
        width: 100%;
    }
    .banner-inner-container{
        max-width: 700px;
        width: 95%;
        margin: 0 auto;
    }
    .banner-block-items-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .banner-block-items-content h2 {
        font-size: 75px;
        line-height: 1.1;
        font-weight: 600;
        text-align: center;
    }
    .banner-box {
        margin: 32px 0;
        text-align: center;
    }
    .rating-box img {
        margin-right: 10px;
    }
    .components-block-items {
        width: 50%;
    }
    .components-block-items-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 15px 0;
    }
    .components-para-box p {
        font-weight: 500;
        font-size: 15px;
        line-height: 1.5;
    }
    .components-block-items-content h3 {
        font-size: 22px;
    }
    .components-header h2, .babebox-inside-header h2, .pricing-header h2, .trending-upper-header h2, .gallery-header h2, .review-header h2, .location-main-block h2, .faq-header h2 {
        font-size: 32px;
    }
    .pricing-mid-block p, .past-boxes-mid-block p, .babebox-mid-block p, .gallery-mid-block p, .review-mid-block p {
        font-size: 22px;
    }
    .babebox-inside-outer-bottom-block {
        width: 70%;
    }
    .side-content p {
        font-size: 20px;
        font-weight: 600;
    }
    .side-content p span {
        font-size: 14px;
    }
    .pricing-bottom-block-items {
        width: 50%;
    }
    .best-value-pricing-block p {
        font-size: 22px;
        width: 80px;
        height: 80px;
        top: -4%;
        right: -2%;
    }
    .pricing-bottom-block-items-content h4{
        font-size: 18px;
    }
    .pricing-bottom-block-items-content h3 {
        font-size: 60px;
        font-weight: 600;
    }
    .pricing-inner-small-box ul li {
        font-size: 16px;
    }
    .pricing-bottom-block-items-content a {
        font-size: 20px;
    }
    .pricing-bottom-block-items-content h2 {
        font-size: 38px;
    }
    .bottom-container{
        display: none;
    }
    .dual-section-box {
        width: 40%;
    }
    .dual-section-items p {
        font-size: 15px;
    }
    .trending-lower-block-items {
        width: 33.33%;
    }
    .trending-lower-block-title h3 {
        font-weight: 500;
        font-size: 17px;
    }
    .trending-lower-block-items-content a {
        font-size: 16px;
    }
    button.facts-button_prev.slick-arrow,button.facts-button_next.slick-arrow{
        display: none;
    }
    .location-main-block {
        width: 50%;
    }
    .location-para-block p {
        font-size: 18px;
    }
    .faq-block-items-content ul li {
        font-size: 18px;
    }
    .faq-onclick-block-items p {
        font-size: 15px;
    }
    .footer-inner-small-items ul li a {
        font-size: 14px;
    }
    .payment-icon-block {
        width: 33.66%;
    }
    .footer-bottom-block {
        width: 66.33%;
    }
    .footer-input-main-block p {
        color: #fff;
        font-size: 14px;
    }
}
@media only screen and (max-width:768px){
    .second-nav4,.second-nav3{
        display: block;
    }
    .second-navbar-block {
        justify-content: space-between;
    }
    .second-navbar-main-bg {
        background-color: #f9b3ca;
        padding: 8px 0;
    }
    .offer-main-bg {
        background-color: #fff;
    }
    .past-boxes-bottom-block-items {
        width: 50%;
    }
    .bg-big-image {
        position: absolute;
        top: -3%;
    }
    .past-boxes-main-block {
        padding: 110px 0 40px;
    }
    .past-boxes-bottom-block-items-content h3 {
        font-weight: 500;
        font-size: 24px;
    }
    .past-boxes-bottom-block-items-content p {
        font-size: 15px;
    }
    .past-boxes-bottom-block-items-content p span img {
        width: 80px;
    }
    .best-value-pricing-block p{
        display: none;
    }
    .dual-section-box {
        width: 50%;
    }
    .pricing-mid-block p, .past-boxes-mid-block p, .babebox-mid-block p, .gallery-mid-block p, .review-mid-block p {
        font-size: 17px;
    }
    .gallery-photos-block-items {
        width: 50%;
    }
    .review-bottom-main-block{
        flex-direction: column;
    }
    .review-bottom-block-items {
        margin: 8px 0;
    }
    .review-bottom-block-items a{
        font-size: 18px;
    }
    .location-main-block {
        width: 85%;
    }
    .faq-inner-small-box {
        width: 100%;
    }
    .footer-block-items {
        width: 100%;
    }
    .footer-input-outer-main-block {
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
    }
    .footer-input-outer-main-block-content {
        padding: 20px 0;
    }
    .footer-bottom-main-block {
        padding: 15px 0 0;
    }
    .footer-input-main-block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .social-icon-block ul {
        justify-content: center;
    }
    .payment-icon-block {
        width: 50%;
    }
    .footer-bottom-block {
        width: 50%;
    }
    .payment-icon-block ul {
        justify-content: space-evenly;
    }
    .footer-inner-small-items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (max-width:575px){
    .banner-block-items-content h2 {
        font-size: 54px;
    }
    .banner-block-items-content h3 {
        font-size: 18px;
        font-weight: 600;
    }
    .banner-block-items-content p {
        font-size: 14px;
    }
    .banner-block-items-content p {
        font-size: 14px;
        text-align: center;
    }
    .side-content p {
        font-size: 18px;
        font-weight: 600;
    }
    .side-content p span {
        font-size: 12px;
    }
    .babebox-inside-main-block {
        padding: 40px 0;
    }
    .past-boxes-bottom-block-items-content h3 {
        font-weight: 500;
        font-size: 18px;
    }
    .past-boxes-bottom-block-items-content p {
        font-size: 12px;
    }
    .past-boxes-bottom-block-items-content p span img {
        width: 60px;
    }
    .pricing-bottom-block-items-content h4 {
        font-size: 14px;
    }
    .pricing-bottom-block-items-content a {
        font-size: 15px;
    }
    .pricing-inner-small-box ul li {
        font-size: 12px;
    }
    .pricing-bottom-block-items-content h2 {
        font-size: 32px;
    }
    .pricing-bottom-block-items-content h3 {
        font-size: 54px;
        font-weight: 600;
    }
    .trending-upper-block-items {
        width: 33.33%;
    }
    .trending-upper-block-items-content {
        margin: 12px 0;
    }
    .dual-section-box {
        width: 70%;
    }
    .trending-lower-block-items {
        width: 50%;
    }
}
@media only screen and (max-width:500px){
    .components-header h2, .babebox-inside-header h2, .pricing-header h2, .trending-upper-header h2, .gallery-header h2, .review-header h2, .location-main-block h2, .faq-header h2 {
        font-size: 28px;
    }
}
@media only screen and (max-width:485px){
    .second-nav1 img {
        width: 140px;
        display: block;
    }
    .second-nav4 img {
        width: 20px;
    }
    .second-nav3 img {
        width: 22px;
        display: block;
    }
    .banner-block-items-content h2 {
        font-size: 30px;
    }
    .banner-box {
        margin: 10px 0;
        text-align: center;
    }
    .banner-button-block ul {
        flex-direction: column;
    }
    .transparent-btn{
        margin: 0;
    }
    .banner-button-block ul li{
        margin: 8px 0;
    }
    .banner-block-items-content > img {
        margin: 18px 0 20px;
    }
    .banner-block-items-content h4 {
        padding-bottom: 8px;
        text-align: center;
    }
    .banner-block-items-content h3 {
        font-size: 15px;
        font-weight: 600;
    }
    .banner-block-items-content p {
        font-size: 12px;
        text-align: center;
    }
    .banner-button-block a {
        font-size: 15px;
    }
    .banner-block-items-content > img {
        width: 350px;
    }
    .components-header h2, .babebox-inside-header h2, .pricing-header h2, .trending-upper-header h2, .gallery-header h2, .review-header h2, .location-main-block h2, .faq-header h2 {
        font-size: 24px;
    }
    .components-block-items {
        width: 100%;
    }
    .components-block-items-content h3 {
        font-size: 20px;
    }
    .pricing-mid-block p, .past-boxes-mid-block p, .babebox-mid-block p, .gallery-mid-block p, .review-mid-block p {
        font-size: 13px;
    }
    .babebox-inside-bottom-box ul li {
        display: flex;
        flex-direction: column;
    }
    .babebox-inside-outer-bottom-block {
        width: 80%;
    }
    .side-content{
        margin-left: 0;
        text-align: center;
    }
    .side-content > p{
        padding: 10px 0;
    }
    .side-content p span {
        font-size: 14px;
    }
    .babebox-inside-bottom-box ul li img {
        width: 90px;
    }
    .components-block-items-content img {
        width: 120px;
    }
    .past-boxes-container,.pricing-container{
        width: 80%;
    }
    .past-boxes-bottom-block-items {
        width: 100%;
    }
    .pricing-bottom-block-items {
        width: 100%;
    }
    .dual-section-box {
        width: 80%;
    }
    .footer-bottom-main-block{
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-bottom-block ul{
        flex-direction: column;
    }
    .footer-bottom-block ul li{
        margin: 0;
    }
    .footer-bottom-block {
        width: 100%;
    }
    .payment-icon-block {
        width: 100%;
    }
    .payment-icon-block ul{
        justify-content: flex-start;
    }
    .payment-icon-block ul li {
        margin: 14px;
    }
    .review-bottom-block-items ul li img {
        width: 30px;
        display: block;
    }
}
@media only screen and (max-width:425px){
    .review-slideshow-items-content {
        background-color: #fff;
        position: relative;
        padding: 35px;
        margin: 75px 15px 0;
    }
    .review-bottom-block-items ul li img {
        width: 30px;
        display: block;
    }
    .offer-main-bg p {
        font-size: 10px;
        font-weight: 600;
    }
    .inner-nav1 ul li a span img {
        width: 80px;
        display: block;
    }
    .inner-nav1 ul li a>img {
        width: 50px;
        display: block;
    }
    .inner-nav2 ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 12px;
    }
    .banner-block-items-content h2 {
        font-size: 24px;
    }
    .banner-block-items-content h4 {
        font-size: 14px;
    }
    .bg-big-image {
        position: absolute;
        top: -1%;
    }
    .pricing-mid-block p, .past-boxes-mid-block p, .babebox-mid-block p, .gallery-mid-block p, .review-mid-block p {
        font-size: 14px;
        font-weight: 600;
    }
    .past-boxes-container, .pricing-container {
        width: 75%;
    }
    .dual-section-box {
        width: 90%;
    }
    .review-bottom-block-items ul li img {
        width: 28px;
        display: block;
    }
    .location-main-block {
        width: 90%;
    }
    .location-para-block p {
        font-size: 15px;
    }
    .faq-block-items-content ul li {
        font-size: 15px;
    }
    .input-section {
        width: 100%;
    }
    .footer-input-main-block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .social-icon-block ul {
        justify-content: flex-start;
    }
}
@media only screen and (max-width:400px){
    .babebox-inside-header h2:after{
        width: 105%;
    }
    .babebox-inside-header h2 {
        font-size: 21px;
    }
    .past-boxes-header h2 {
        text-align: center;
        font-size: 22px;
    }
    .components-header h2, .babebox-inside-header h2, .pricing-header h2, .trending-upper-header h2, .gallery-header h2, .review-header h2, .location-main-block h2, .faq-header h2 {
        font-size: 21px;
    }
    .faq-header h2:after {
        width: 105%;
    }
}
@media only screen and (max-width:380px){
    .review-slideshow-items-content {
        background-color: #fff;
        position: relative;
        padding: 35px;
        margin: 75px 15px 0;
    }
    .banner-block-items-content > img {
        width: 260px;
    }
    .second-nav3 img {
        width: 18px;
        display: block;
    }
    .second-nav4 img {
        width: 16px;
    }
    .review-bottom-block-items ul li img {
        width: 30px;
        display: block;
    }
}
@media only screen and (max-width:362px){
    .dual-section-items p {
        font-size: 13px;
    }
    .past-boxes-mid-block {
        padding: 24px 0;
    }
    .past-boxes-header h2 {
        text-align: center;
        font-size: 20px;
    }
}
@media only screen and (max-width:350px){
    .review-slideshow-items-content {
        background-color: #fff;
        position: relative;
        padding: 35px;
        margin: 75px 15px 0;
    }
    .inner-nav1 ul li a>img {
        width: 36px;
        display: block;
    }
    .second-nav1 img {
        width: 120px;
        display: block;
    }
    .dual-section-items p {
        font-size: 12px;
    }
    .trending-lower-block-items-content a {
        font-size: 10px;
    }
    .trending-lower-block-title h3 {
        font-weight: 500;
        font-size: 11px;
    }
    .inner-nav1 ul li a span img {
        width: 60px;
        display: block;
    }
    .offer-main-bg p {
        font-size: 8px;
        font-weight: 600;
    }
    .second-nav3 img {
        width: 18px;
        display: block;
    }
    .second-nav4 img {
        width: 16px;
    }
    .components-header h2, .babebox-inside-header h2, .pricing-header h2, .trending-upper-header h2, .gallery-header h2, .review-header h2, .location-main-block h2, .faq-header h2 {
        font-size: 20px;
    }
    .past-boxes-header h2 {
        text-align: center;
        font-size: 20px;
    }
    .payment-icon-block ul li img {
        width: 28px;
    }
    .faq-block-items-content ul li {
        font-size: 13px;
    }
    .faq-block-items-content ul li img {
        margin-right: 10px;
        width: 12px;
    }
    .location-para-block p {
        font-size: 12px;
    }
    .review-bottom-block-items ul li img {
        width: 22px;
        display: block;
    }
    .review-bottom-block-items a {
        font-size: 14px;
    }
    .review-slideshow-items-content {
        background-color: #fff;
        position: relative;
        padding: 35px;
        margin: 80px 15px 0;
    }
    .dual-section-box {
        width: 100%;
    }
    .past-boxes-container, .pricing-container {
        width: 85%;
    }
    .past-boxes-main-block {
        padding: 70px 0 40px;
    }
    .past-boxes-mid-block {
        padding: 24px 0;
    }
    .banner-block-items-content > img {
        width: 240px;
    }
}